.nice-code {
    opacity: 0.9;
    position: relative;
    max-width: 70vw !important;
}

.nice-code > * {
    border-radius: 6px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
}
